<div class="php-code-wrapper">
	<pre style="font-family:arial;font-size:12px;border:1px dashed #CCCCCC;width:99%;height:auto;overflow:auto;background:#f0f0f0;;background-image:URL(http://2.bp.blogspot.com/_z5ltvMQPaa8/SjJXr_U2YBI/AAAAAAAAAAM/46OqEP32CJ8/s320/codebg.gif);padding:0px;color:#000000;text-align:left;line-height:20px;">
		<code style="color:#000000;word-wrap:normal;"> 
		&lt;?php<br />
		    // validate the number is in format +NUMBER<br />
		    if (!isset($_REQUEST['to']) || !preg_match('/^\+[0-9]{6,15}$/', $_REQUEST['to'])) {<br />
		        die("Error: to parameter missing or has invalid format");<br />
		    }<br />
		    $url = '{{ activateUrl }}';<br />
		    $post_data = array('contact' =&gt; $_REQUEST['to']);<br />
		    $options = array(<br />
                'http' =&gt; array(<br />
                    'header' =&gt; "Content-type: application/x-www-form-urlencoded\r\n",<br />
                    'method' =&gt; 'POST',<br />
                    'content' =&gt; http_build_query($post_data)<br />
                )<br />
            );<br />
		    $context = stream_context_create($options);<br />
		    // send POST request to the API url and return JSON response<br />
		    echo file_get_contents($url, false, $context);<br />
		?&gt;<br />
		</code>
	</pre>
</div>