<div id="appstore_container" class="clearfix">
	<div class="left-menu">
		<div class="app-filter-list">
			<div class="app-filter-group">
				{{#each devices}}
				<div class="app-filter device-item" data-device-id="{{ id }}" data-device-name="{{ name }}">
					{{ name }}
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="right-content">
		<div class="content">
			<div id="php_code_container">
			</div>
		</div>
	</div>
</div>
